.idea
bbq-arbeit-2/Classes Employee/employeeData.csv
XtraCode/slideshow/classes/sql.inc.php
XtraCode/slideshow/public/images
XtraCode/Mitarbeiter_csv/staticPk.txt
XtraCode/Mitarbeiter_csv/angestellte.csv
XtraCode/jsTutorials/uploadFileToFS/uploads
