textarea,
select {
    font-family: var(--work-sans);
    font-size: 1.3rem;
    padding: .5rem;
}

textarea {
    border-radius: 5px;
}

.btn {
    cursor: pointer;
    padding: .5rem 1rem;
    border: none;
    font-family: var(--work-sans);
}

.btn:hover {
    filter: brightness(120%);
}

.txt {
    border: none;
    border-bottom: 1px solid white;
    font-size: var(--input-font-size);
}

.o-off {
    outline: none;
}

.no-scroll {
    overflow-y: auto;
}








