:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    background-color: #444;
    color: #ddd;
}

.heading {
    font-size: 3rem;
}
.wrapper {
    display: flex;
    flex-direction: column;
    width: 95vw;
    justify-content: center;
    align-items: center;
}

.container,
.result-container {
    margin-top: 3rem;
    width: 64.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #888;
}

.result-container {
    width: 64.8rem;
    border: none;
    justify-content: right;
    margin-top: .5rem;
}
.column {
    display: flex;
    flex-direction: column;
}

.table-head {
    padding: .1rem;
    /*margin: 0 .1rem 0 0;*/
    width: 100%;
    border-left: 1px solid #121212;
    color: #121212;
}

.input-container {
    background-color: #62CDFF;
    /*margin: 0 .05rem;*/

}

input[type="text"] {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    padding-right: .3rem;
    text-align: right;
}

#calc {
    font-size: 1.2rem;
    width: 8rem;
    height: 1.8rem;
    color: #fff;
    border: none;
    border-radius: 4px;
    background-color: #C98474aa;

}

#result {
    margin-right: .2rem;
    padding-right: .3rem;
    text-align: right;
    font-size: 1.4rem;
    width: 15.7rem;
    height: 1.9rem;
    background-color: #7ec699;
    color: #121212;
    font-weight: bolder;
    margin-left: .3rem;
    /*border: 1px solid #ddd;*/
}