:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #333;
    color: #ddd;
    font-family: Arial, Helvetica, sans-serif;
    font-sizel: 1.3rem;
}

.container {
    width: 100%;
    display: flex;
}

.form-container{
    flex-grow: 1;
}

.code-container {
    flex-grow: 3;
}

.code {
    margin-top: 3%;
    width: 80%;
}